/* Base Element Styles */
* {
  box-sizing: border-box;;
}

body {
  background-color: #FFFFFF;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 1em;
}

.container {
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding: 2%;
}

.news-form {
  text-align: left;
}

/* Header Styles*/

header {
  background: #000000;
  color: white;
  text-transform: uppercase;
  font-size: 55%;
}

.line-one {
  height: 5px;
  background-color: #000000;
  border: 0;
  margin: 4px 0;
  width: 100%;
}

.line-two {
  height: 2px;
  background-color: #000000;
  border: 0;
  margin: 4px 0;
  width: 100%;
}

.line-three {
  width: 100%;
  height: 2px;
  border: 0;
  margin: 4px 0;
  background-color: #000000;
}

.latest-news {
  color: #A9A9A9;
}

/* form */
form {
  width: 100%;
}

fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;
  }

  .wrap-form {
    text-align: center;
    padding: 0 18px;

  }

  legend {
    margin-bottom: 10px;
    font-size: 1em;
  }

  .news-form {
    margin-bottom: 25px;

}

/*Label*/

label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

label.checkmark,
label.radio {
  display: inline;
  font-weight: 300;
}

/*input*/

input[type="text"], input[type="email"], input[type="ring"] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 0, 0, 0.5) inset;
}

input::placeholder {
  text-align: right;
  color: #A9A9A9;
}


input.zip {
  text-align: left;
  width: 40%;
  float: left;
}



/*select*/

select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 0, 0, 0.5) inset;
}

select::placeholder {
  text-align: right;
  color: #A9A9A9;
}
/*textarea*/

textarea {
  width: 100%;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgba(0, 0, 255, 0.3);
  margin-bottom: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 255, 0.5) inset;
}

textarea:focus {
  color: #FFF0F5;
}

textarea:hover {
  background-color: #ADD8E6;
}

select:focus,
input:focus {
    text-align: left;
    outline: none;
}

/*radio checkbox*/

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: 15px;
  vertical-align: top;
}


input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
  font-weight: 700;
}


.receive-news,
.news-section,

 {
  display: block;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
}

.news-section {
  display: block;
  justify-content: space-between;
  
}


/*section news*/

.contact-information {
  width: 100%;
  text-align: left;
}
.receive-news {
  width: 100%;
  text-align: left;
}

div.news-section {
  border-radius: 5px;
  padding: 5px;
}
/*button*/

button {
  padding: 19px 39px 18px 39px;
  text-align: center;
  font-size: 18px;
  width: 100%;
  border: 0;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  box-shadow: 0 -1px 0 rgba(255, 0, 0, 0.5) inset
  color: #FFF0F5;
  background-color: #00CED1;
}

button:hover {
  background-color: #FFB6C1;
}

/*footer style*/

footer p {
  color: #778899;
  font-weight: 500;
  font-style: italic;
}

/*Media Queries*/

@media screen and (min-width:768px) {
  .wrap-form {
    margin: auto;
    max-width: 900px;

  }
  .container {
    margin: auto;
    max-width: 900px;
  }

  .contact-information {
    display: flex;
    justify-content: space-between;

  }

  .contact-information input,
  .contact-information select {
    width: 78%;

  }

  .contact-information label {
    display: inline-block;
    margin-top: 15px;
    margin-right: auto;
  }

  input.zip {
    width: 30%;
    text-align: left;
  }


  .receive-news,
  .news-section
   {
    display: block;
    justify-content: space-between;
    text-align: left;
  }

  .news-section {
    display: block;
  }

  .receive-news input,
  .receive-news select,
   {
    width: 100%;
    display: inline-block;
  }

  .receive-news label,
  .news-section label
    {
    display: inline-block;
  }

}
